@import 'variables';
@import 'mixins';

/*-------------------------------------------*\
  Fonts
\*-------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

/*-------------------------------------------*\
  Colors
\*-------------------------------------------*/
$color-black: #000;
$color-white: #fff;
$color-gray: #525557;
$color-dark-gray: #454545;
$color-light-gray: #f9f9f9;
$color-red: #EB3535;
$color-red-berry: #FE3B1F;

/*-------------------------------------------*\
  Global Styles
\*-------------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden !important;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rowdies', cursive;
  color: $color-red-berry;
}

::selection {
  background: rgba($color-light-gray, 0.9);
  color: $color-red;
}


/*-------------------------------------------*\
  Miscellaneous
\*-------------------------------------------*/
.bg-stars {
  background: $color-black url("../img/stars.png") repeat fixed center;
}

.bg-black {
  background: $color-black;
}

section {
  padding: 7rem 20%;
}

.btn-1 {
  display: block;
  width: 395px;
  margin: 175px auto 18px auto;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 29.26px;
  text-align: center;
  color: #fff;

  background: #FE3B1F;
  padding: 20px 50px;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 50px;
  cursor: pointer;
}

.btn-2 {
  display: block;
  width: 338px;
  margin: auto;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #fff;

  padding: 20px;
  text-decoration: underline;
  text-transform: capitalize;
  cursor: pointer;
}


/*-------------------------------------------*\
  Landing Page
\*-------------------------------------------*/
.landing-page {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;

  h1 {
    font: 400 6rem 'Rowdies', cursive;
    margin: 6.563rem 0;
  }

  img {
    transform: rotate(5deg);
    margin: auto;
  }
}

/*-------------------------------------------*\
  Questionnaire Page
\*-------------------------------------------*/
.questionnaire-page {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  h1 {
    font-size: 4rem;
  }

  .side-left {
    grid-area: 1 / 1 / 2 / 2;
    background: $color-white;

      /*-------------------------------------------*\
        Content
      \*-------------------------------------------*/
      article h1 {
        margin-bottom: 12rem;
        text-align: center;
        color: $color-red-berry;
      }

      article p {
        margin-bottom: 2rem;
      }

      /*-------------------------------------------*\
        Tabs
      \*-------------------------------------------*/
      .tab {
        margin: 0 auto 5rem auto;
        width: 100%;
        display: none;
      }

      .tab.active {
        display: block;
      }

      /*-------------------------------------------*\
        Web form
      \*-------------------------------------------*/
      .tab-content {
        margin: 0 auto 5rem auto;
        width: 75%;
      }

      .field label {
        display: block;
        padding: 20px;
        font-size: 18px;
        color: #666;
      }

      .field input,
      .field select,
      .field textarea {
        margin-bottom: 1.5rem;
        width: 100%;
        padding: 1.588rem;
        border: 1px solid $color-gray;
        color: $color-dark-gray;
        border-radius: 0;
        font-size: 14px;
      }

      .field.error input,
      .field.error select,
      .field.error textarea {
        border: 1px solid $color-red-berry;
      }

      span {
        display: block;
        color: red;
        font-size: 13px;
        margin-bottom: 10px;
      }

  }

  .side-right {
    grid-area: 1 / 2 / 2 / 3;
    background: $color-black;
    color: $color-white;

      .content {
        display: none;
      }

      .content.active {
        display: block;
      }

      article p {
        margin: 12rem 0;
        font-size: 1.5rem;
        font-weight: 400;
        font-style: normal;
        line-height: 3rem;
        letter-spacing: 0.2rem;
      }
  }
}



@import 'utilities';
@import 'buttons';
@import 'mobile';